*,html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-image: url(./images/bg-desktop-dark.jpg);
    width: 100vw;
    height: 40vh;
}
main{
    background-color: #161722;
    width: 100vw;
    height: 60vh;
}
h1{
    font-size: 44px;
    letter-spacing: 4px;
    color: white;

}
.button{
    background-color: transparent;
    border: none;
}
.wrapper-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 700px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 70px;
}



button{
    cursor: pointer;
}

.circle{
    padding: 15px;
    background-color: transparent;
    border: none;
    border: 1px solid blue;
    border-radius: 100%;

}
.input-todo{
    padding: 20px 200px;
    border-radius: 5px;
    background-color: #25273c;
    border: none;
    position: relative;
    font-size: 16px;
    color: white;
    letter-spacing: 1px;

}
.input-matn{
    color: white;
    font-size: 16px;
    letter-spacing: 1px;

}
.wrapper-circle{
    display: flex;
    gap: 20px;
    align-items: center;
    position: absolute;
    top: 22%;
    left: 5%;
    z-index: +1;
}
#todo-input{
    outline: none;
}
.checkbox-tugma, .wrapper-close{
    background-color: transparent;
    border: none;
}
.matn{
    color: white;
    font-size: 18px;
    letter-spacing: 1px;
    flex-grow: 1;
}
.first-task{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    align-items: center;
    max-width: 600px;
    background-color: #25273c;
    padding: 10px 25px;
    border-radius: 5px;
}
.checkbox-tugma{
    padding: 13px 15px;
    border-radius: 50%;
    background-color: transparent;
    border: 1px solid blue;

}







@media (max-width: 768px){
    /* form{
        position: absolute;
        bottom: 65%;
        left: 10%;
    
    }
     */

}

@media (max-width: 500px){

}

